TENCENT_COS_SECRET_ID=
TENCENT_COS_SECRET_KEY=
TENCENT_COS_BUCKET=notices-1442265054
TENCENT_COS_REGION=ap-shanghai
TENCENT_COS_PUBLIC_BASE_URL=https://notices-1442265054.cos.ap-shanghai.myqcloud.com
